<!doctype html>
{% load custom_tags %}
<html dir="rtl">
<head>
    <style>
        h1,h2,h3,h4 {
        text-align: center;
        }
        p {
        text-align: center;
        }
        th, td {
        text-align: center;
        }
    </style>
  <meta charset="utf-8">
  <div stryle="text-align: center">
    <div id="print-area">
    <h1>MIMINO georgian khachapuri</h1>
    <p>---------------------------------</p>
    <p>שד׳ בן גוריון 15, חיפה</p>
    <p>טלפון: 04-8113399</p>
    <p>ע.מ: 515695377</p>
    <p>שם לקוח: לקוח כללי</p>
    <p>---------------------------------</p>
  </div>  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
  
</head>
<body>
  <h3>מס טלפון: {{ order }}</h3>
  <table>
    <tbody>
      {% for item in cart_items %}
        {% if forloop.first %}
        </tbody>
      </table>
      <table>
        <thead>
          <tr>
            <th>מחיר</th>
            <th>כמות</th>
            <th>מוצר</th>
          </tr>
        </thead>
        <tbody>
        {% endif %}
        <tr>
          <td>{{ item.product.product_price }}₪</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product_id|get_product_name_heb }}</td>
        </tr>
        {% if forloop.last %}
      </tbody>
    </table>
    {% endif %}
  {% endfor %}
  <style>
    table {
      width: 100%;
      
    }
    
    th, td {
      padding: 8px;
      text-align: right;
      
    }
    </style>
  <h3>סה"כ: {{ total_price }}₪ </h3>
  <p>תודה על ההזמנה </p>
</div>
</body>
</html>