{% extends "base.html" %}
{% load static %}
{% block title %}Список транзакций{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'scripts/chart_script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4" style="color: white;">Список транзакций</h1>

    <div class="date-selection mb-3">
        <form method="GET" action="">
            <label for="start_date" style="color: white;">С:</label>
            <input type="date" name="start_date" id="start_date" value="{{ start_date }}" required>
            <label for="end_date" style="color: white;">По:</label>
            <input type="date" name="end_date" id="end_date" value="{{ end_date }}" required>
            <button type="submit">Фильтровать</button>
            <button type="button" id="todayBtn">Сегодня</button>
        </form>
    </div>

    <h2 class="mb-4" style="color: white;">Общая статистика</h2>
    <table id="transactionSummaryTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="color: white; font-size: 15px;">Описание</th>
                <th scope="col" style="color: white; font-size: 15px;">Сумма</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="color: white;">Разница по сумме</td>
                <td style="color: white;">{{ difference }} ₪</td>
            </tr>
            <tr>
                <td style="color: white;">Разница в процентах (Прибыль)</td>
                <td style="color: white;">{{ percentage_difference|floatformat:2 }}%</td>
            </tr>
        </tbody>
    </table>

    <h2 class="mb-4" style="color: white;">Методы оплаты</h2>
    <div class="row">
        <div class="col-md-6">
            <h4 class="mb-3" style="color: white;">Прибыль <strong>{{ total_income }}₪</strong></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="color: white; font-size: 15px;">Метод оплаты</th>
                        <th scope="col" style="color: white; font-size: 15px;">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for method_stat in payment_methods_income_stats %}
                    <tr>
                        <td style="color: white;">{{ method_stat.payment_method }}</td>
                        <td style="color: white;">{{ method_stat.total }} ₪</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4 class="mb-3" style="color: white;">Доход от столов</h4>
            <h5 class="mb-3" style="color: white;">Закрытые столы: {{ total_closed_tables }}</h5>
            <table class="table table-striped">
                <tbody>
                        <td style="color: white;">Наличные</td>
                        <td style="color: white;">{{ total_table_service_income_cash }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Карта</td>
                        <td style="color: white;">{{ total_table_service_income_card }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Общий доход</td>
                        <td style="color: white;">{{ total_table_service_income }} ₪</td>
                    </tr>
                    <tr>
                </tbody>
            </table>

            <h4 class="mb-3" style="color: white;">Доход от доставки</h4>
            <h5 class="mb-3" style="color: white;">Доставка: {{ total_delivery_orders }}</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="color: white;">Наличные</td>
                        <td style="color: white;">{{ total_delivery_income_cash }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Карта</td>
                        <td style="color: white;">{{ total_delivery_income_card }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Общий доход</td>
                        <td style="color: white;">{{ total_delivery_income }} ₪</td>
                    </tr>
                </tbody>
            </table>

            <h4 class="mb-3" style="color: white;">Доход от самовывоза</h4>
            <h5 class="mb-3" style="color: white;">Самовывоз: {{ total_pickup_orders }}</h5>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td style="color: white;">Наличные</td>
                        <td style="color: white;">{{ total_pickup_income_cash }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Карта</td>
                        <td style="color: white;">{{ total_pickup_income_card }} ₪</td>
                    </tr>
                    <tr>
                        <td style="color: white;">Общий доход</td>
                        <td style="color: white;">{{ total_pickup_income }} ₪</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h4 class="mb-3" style="color: white;">Затраты <strong>{{ total_expense }}₪</strong></h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="color: white; font-size: 15px;">Метод оплаты</th>
                        <th scope="col" style="color: white; font-size: 15px;">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    {% for method_stat in payment_methods_stats %}
                    <tr>
                        <td style="color: white;">{{ method_stat.payment_method }}</td>
                        <td style="color: white;">{{ method_stat.total }} ₪</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <h2 class="mb-4" style="color: white;">Детали транзакций</h2>
    <button id="toggleTransactions" style="color: white;">Показать/Скрыть детали транзакций</button>
    <div class="transactions-container d-flex justify-content-between">
        <div class="transactions-column col-md-6">
            <h4 class="mb-3" style="color: white;">Прибыль: <strong>{{ total_income }}₪</strong></h4>
            <ul class="transaction-details list-unstyled" style="display:none;">
                {% for transaction in incomes %}
                <li class="transaction-item">
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Категория:</strong> {{ transaction.category }}</p>
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Сумма:</strong> {{ transaction.amount }} ₪</p>
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Дата:</strong> {{ transaction.date|date:"M. d, Y" }}</p>
                    {% if transaction.cash_amount %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Наличные:</strong> {{ transaction.cash_amount }} ₪</p>
                    {% endif %}
                    {% if transaction.card_amount %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Карта:</strong> {{ transaction.card_amount }} ₪</p>
                    {% endif %}
                    {% if transaction.payment_method %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Метод оплаты:</strong> {{ transaction.payment_method }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="transactions-column col-md-6">
            <h4 class="mb-3" style="color: white;">Затраты: <strong>{{ total_expense }}₪</strong></h4>
            <ul class="transaction-details list-unstyled" style="display:none;">
                {% for transaction in expenses %}
                <li class="transaction-item">
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Категория:</strong> {{ transaction.category }}</p>
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Сумма:</strong> {{ transaction.amount }} ₪</p>
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Дата:</strong> {{ transaction.date|date:"M. d, Y" }}</p>
                    {% if transaction.cash_amount %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Наличные:</strong> {{ transaction.cash_amount }} ₪</p>
                    {% endif %}
                    {% if transaction.card_amount %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Карта:</strong> {{ transaction.card_amount }} ₪</p>
                    {% endif %}
                    {% if transaction.payment_method %}
                    <p style="color: white; margin-bottom: 0.5em;"><strong>Метод оплаты:</strong> {{ transaction.payment_method }}</p>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="chart-container mt-5">
        <canvas id="expenseChart"></canvas>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
window.addEventListener('DOMContentLoaded', function() {
    var labels = {{ category_names_with_percentages|safe }};
    var data = {{ category_amounts|safe }};
    populateChartData(labels, data);

    var toggleButton = document.getElementById("toggleTransactions");
    var detailsLists = document.querySelectorAll(".transaction-details");

    toggleButton.addEventListener("click", function() {
        detailsLists.forEach(function(detailsList) {
            if (detailsList.style.display === "none") {
                detailsList.style.display = "block";
                toggleButton.textContent = "Скрыть детали транзакций";
            } else {
                detailsList.style.display = "none";
                toggleButton.textContent = "Показать детали транзакций";
            }
        });
    });

    document.getElementById("todayBtn").addEventListener("click", function() {
        let today = new Date().toISOString().substr(0, 10);
        document.getElementById("start_date").value = today;
        document.getElementById("end_date").value = today;
        document.querySelector("form").submit();
    });
});
</script>
{% endblock %}
