{% extends "base.html" %}
{% load static %}
{% block title %}Забронировать стол{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<div class="container">
    <a href="{% url 'rooms' %}" class="btn btn-primary">Назад.</a>
    <h1 style="color: white; font-size: 32px;">Забронировать стол</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Забронировать</button>
        </div>
    </form>
</div>
{% endblock %}
