{% extends "base.html" %}
{% load static %}
{% block title %}Забронировать стол{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <div class="container">
    <a href="{% url 'tables' %}" class="btn btn-primary">Назад к столам.</a>
    <h1 style="color: white; font-size: 32px;">Забронировать стол</h1>
    {% if errors %}
      <div class="alert alert-danger">
        {% for error in errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="table" value="{{ table.id }}">
      <input type="hidden" name="user" value="{{ request.user.pk }}">
      
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Забронировать</button>
      </div>
    </form>    
  </div>
{% endblock %}
