<!-- templates/confirm_addition.html -->
{% extends "base.html" %}

{% block content %}
  <h2>Подтверждение добавления продукта</h2>
  <p>Вы уверены, что хотите добавить {{ quantity }} {{ product.product_name_rus }} в корзину?</p>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <input type="hidden" name="quantity" value="{{ quantity }}">
    <input type="hidden" name="table_id" value="{{ table_id }}">
    <input type="hidden" name="category" value="{{ category }}">
    <button type="submit" name="confirm" value="yes">Да</button>
    <button type="submit" name="confirm" value="no">Нет</button>
  </form>
{% endblock %}
