{% extends 'base.html' %}

{% block title %}Редактировать личную информацию{% endblock %}

{% block content %}
<h1>Редактировать личную информацию</h1>
<form method="POST" action="{% url 'edit_profile' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">Имя</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
    </div>
    <div class="form-group">
        <label for="last_name">Фамилия</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
    </div>
    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
{% endblock %}
