{% extends 'base.html' %}

{% block title %}Открытые Чаты{% endblock %}

{% block content %}
<h1>Открытые Чаты</h1>

<div class="row">
    <div class="col-md-4">
        <h2>чат с</h2>
        <ul class="list-group">
            {% for chat in chats %}
                <li class="list-group-item">
                    <a href="{% url 'chat_detail' chat.id %}">
                        {% for participant in chat.participants.all %}
                            {% if participant != request.user %}
                                {{ participant.username }}{% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            {% endfor %}
            {% if not chats %}
                <li class="list-group-item">У вас нет открытых чатов.</li>
            {% endif %}
        </ul>
    </div>
</div>

{% endblock %}
