<!doctype html>
{% load custom_tags %}
<html dir="rtl">
<head>
    <style>
        h1,h2,h3,h4 {
        text-align: center;
        }
        p {
        text-align: center;
        }
        th, td {
        text-align: center;
        }
    </style>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
</head>
<body>
  <div id="print-area">
    <h3>Стол: {{ order.table.table_id }}</h3>
    <table>
      <tbody>
        {% for order_item in order.order_items.all %}
         {% with allowed_categories="salads,meat_dishes" %}
          {% if order_item.product.category in allowed_categories %}
            {% if forloop.first %}
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th>Количество</th>
              <th>Продукт</th>
            </tr>
          </thead>
          <tbody>
            {% endif %}
            <tr>
              <td>{{ order_item.quantity }}</td>
              <td>{{ order_item.product_id|get_product_name_rus }}</td>
            </tr>
            {% if forloop.last %}
          </tbody>
        </table>
          {% endif %}
        {% endif %}
       {% endwith %}
      {% endfor %}
    </div>
  </body>
  </html>
