{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}Информация о заказе{% endblock %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% block content %}
<div class="container">

    <div class="my-4">

        <a href="{% url 'menu' table_id=order.table_id category='salads' %}" type="submit" class="btn btn-primary">Меню</a>

        <a href="{% url 'room_detail' room_id=table.room.id %}" type="submit" class="btn btn-primary d-inline-block">Комната</a>

        <a href="{% url 'recommendations' order.id %}" class="btn btn-primary">Посоветуй</a>

    </div>
  <h1 class="my-4" style="color: white;">Информация о заказе</h1>
  <p style="color: white; font-size: 20px;">Номер Стол: {{ order.table.table_id }}</p>
  <table class="table">
    <thead>
        <tr>
            <th scope="col" style="color: white; font-size: 26px;">Название</th>
            <th scope="col" style="color: white; font-size: 26px;">Количество</th>
            <th scope="col" style="color: white; font-size: 26px;">Цена</th>
            <th scope="col" style="color: white; font-size: 26px;">Действия</th>
        </tr>
    </thead>
    <tbody>

        {% csrf_token %}
        {% for order_item in order.order_items.all %}
            <tr>
            <td style="color: rgb(231, 235, 5);">{{ order_item.product.product_name_rus }}</td>
            <td id="order-item-{{ order_item.id }}-quantity" style="color: white;" hx-get="{% url 'get_order_item_quantity' order.id order_item.id %}">{{ order_item.quantity|append_grams:order_item.product.product_name_rus }}</td>
            <td style="color: rgb(255, 255, 255);">{{ order_item.product.product_price }}₪</td>

                <td class="product-quantity">
              
                    <div class="btn-group" role="group">
                        <form method="POST" action="{% url 'increase_product_in_order' order.id order_item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="product_id" value="{{ order_item.product.id }}">
                            <button type="submit" class="btn1 btn-danger btn-sm mr-2">Добавить</button>
                        </form>
                                      
                        <form method="POST" action="{% url 'decrease_product_from_order' order.id order_item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="product_id" value="{{ order_item.product.id }}">
                            <button type="submit" class="btn1 btn-danger btn-sm">Убавить</button>
                        </form>
                        
                        <form method="POST" action="{% url 'delete_product_from_order' order.id order_item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="product_id" value="{{ order_item.product.id }}">
                            <td><button type="submit" class="btn1 btn-danger btn-sm">Удалить</button></td>
                        </form>
                        
            </td>              
        </tr>
        {% endfor %}
    </tbody>
    
</table>

    <p style="color: white;">Общая сумма: <span id="total-price" >{{ total_price }}</span>₪</p>
    <p style="color: white;">Время заказа: {{ order.created_at }}</p>
    
    {# Раздел для ввода комментариев #}
    <div class="mb-3">
      <label for="kitchen-comments" class="form-label" style="color: white;">Комментарии для кухни:</label>
      <textarea class="form-control" id="kitchen-comments" rows="3">{{ order.comments|default:'' }}</textarea>
  </div>
  
    <label class="form-group d-flex" style="color: rgb(238, 4, 4); font-size: 26px;">Метод Оплаты:</label>
<form id="payment-form" method="post" action="{% url 'generate_pdf' order.id %}">

    {% csrf_token %}
    <div id="split-payment-inputs" style="display: none;">
      <input type="number" id="cash-amount" placeholder="Сумма Наличкой" oninput="checkPaymentSum()" />
      <input type="number" id="card-amount" placeholder="Сумма Картой" oninput="checkPaymentSum()" />
  </div>
  <input type="checkbox" id="split-payment" onchange="toggleSplitPayment()" /> <span style="color: rgb(238, 4, 4);">Разделить платеж</span>
  
    <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="cash" value="מזומן">
        <label class="form-check-label mr-3" for="cash" style="color: rgb(238, 4, 4);">
            Наличные
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="payment_method" id="credit_card" value="כרטיס אשראי">
        <label class="form-check-label mr-3" for="credit_card" style="color: rgb(238, 4, 4);">
            Кредитная карта
        </label>
    </div>
    <div class="d-flex justify-content-between">
        <form action="{% url 'pay_order' order.id %}" method="post">
            {% csrf_token %}
            <button id="pay-button" name="pay-button" type="submit" class="btn2 btn-primary2 mr-3" disabled>Счет Оплачен.</button>
        </form>
        <button type="button" id="print-kitchen" name="print-kitchen" class="btn-primary2">Подтвердить Заказ.</button>
        <form hx-post="{% url 'generate_pdf' order.id %}" method="post">
            {% csrf_token %}
            <button type="button" class="btn2 btn-primary2 mr-3" onclick="printInvoice({{ order.id }})">Распечатать Счет.</button>
        </form>
    </div>
    
</form>

<!-- Tip Modal -->
<div class="modal" tabindex="-1" id="tipModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tipModalLabel">Введите чаевые</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="tip-form" action="{% url 'tip' %}" method="post">
                    <div class="mb-3">
                        <input type="hidden" id="table-id-input" name="table_id" value="{{ order.table_id }}">
                        <input type="number" class="form-control" id="tip-input" placeholder="Сумма чаевых">
                    </div>
                    <button type="button" id="show-users-btn">Делить чаевые</button>

                    <div class="mb-3" id="users-container" style="display: none;">
                        <label for="users-select">Выберите официантов:</label>
                        <select multiple id="users-select" name="user_ids">
                            {% for user in all_users %}
                                <option value="{{ user.id }}">{{ user.first_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="selected-users-list" class="ml-4">
                        <!-- Здесь будут показаны выбранные имена -->
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" id="finish-btn" data-bs-dismiss="modal">Завершить</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var orderId = '{{ order.id }}';
    var printKitchenUrl = '{% url "print_kitchen" %}';
    var tipUrl = '{% url "tip" %}';
</script>

<script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
<script src="{% static 'scripts/order_detail.js' %}"></script>
</div>
{% endblock %}