{% extends 'base.html' %}

{% block title %}Отправить сообщение{% endblock %}

{% block content %}
<h1>Отправить сообщение</h1>

<div class="row">
    <div class="col-md-4">
        <h2>Открытые чаты</h2>
        <ul class="list-group">
            {% for chat in chats %}
                <li class="list-group-item">
                    <a href="{% url 'chat_detail' chat.id %}">
                        {% for participant in chat.participants.all %}
                            {% if participant != request.user %}
                                {{ participant.username }}{% if not forloop.last %}, {% endif %}
                            {% endif %}
                        {% endfor %}
                    </a>
                </li>
            {% endfor %}
            {% if not chats %}
                <li class="list-group-item">У вас нет открытых чатов.</li>
            {% endif %}
        </ul>
    </div>
</div>

<hr>

<h2>Все пользователи</h2>
<ul class="list-group">
    {% for user in all_users %}
        <li class="list-group-item">
            <a href="{% url 'chat_with_user' user.id %}">{{ user.username }}</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
