{% extends "base.html" %}

{% block title %}Tables in {{ room_name }}{% endblock %}

{% load static %}

{% block content %}
  <h2 style="color: white;">{{ room_name }}</h2>
  <div class="row">
    {% for table in tables %}
    <div class="col-md-3 mb-3">
      <div class="card rounded-lg">
        {% if table.active_order %}
            <img src="{% static 'img/active_order.jpg' %}" class="card-img-top">

            <!-- Вставка кода для отображения информации о заказе -->
            <h1 style="color: white;">Заказ на столик №{{ table.table_id }}</h1>
            <p class="text-danger" style="color: white;">У данного стола приняли заказ.</p>
            <p style="color: white;">Дата и время заказа: {{ table.order_time }}</p>
            <form method="POST">
                {% csrf_token %}
                <input type="submit" value="Показать заказ" class="btn btn-primary">
            </form>
            <!-- Конец вставки -->

            <a href="{% url 'menu' table_id=table.table_id category='salads' %}" class="btn btn-primary">Добавить в Заказ.</a>
            <a href="{% url 'order_detail' order_id=table.orders.last.id %}" class="btn btn-primary">Просмотреть заказ</a>
        {% else %}
            <img src="{% static 'img/empty_table.jpg' %}" class="card-img-top" alt="Стол {{ table.table_id }}">
            <a href="{% url 'menu' table_id=table.table_id category='salads' %}" class="btn btn-primary">Начать Заказ.</a>
        {% endif %}

        <div class="card-body">
          <h5 class="card-title">Стол {{ table.table_id }}</h5>
          <p class="card-text">{{ table.description }}</p>
        </div>
        <div class="card-footer">
          {% if table.is_booked and table.are_guests_here %}
            {% if table.active_order %}
              <a href="{% url 'table_order' table_id=table.table_id order_id=active_order.id %}" class="btn btn-primary">Добавить в заказ.</a>
              <a href="{% url 'order_detail' order_id=table.active_order.id %}" class="btn btn-primary">Информация о заказе.</a>
            {% else %}
              <a href="{% url 'menu' table_id=table.table_id category='salads' %}" class="btn btn-primary">Начать Заказ.</a>
            {% endif %}
          {% endif %}
          {% if table.active_order %}
            <p class="card-text">Имя Официанта: {{ table.created_by_name }}</p>
            <p class="card-text">Время начала заказа: {{ table.orders.last.created_at|time:"H:i" }}</p>
            <p class="card-text">Сумма заказа: {{ table.active_order_total }}</p>
          {% endif %}
          
        
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
