{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}Чаевые Официантов{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4" style="color: white;">Чаевые Официантов</h1>
    <table id="userSummaryTable" class="table table-striped">
        <thead>
            <tr>
                <th scope="col" style="color: white; font-size: 15px;">Официант</th>
                <th scope="col" style="color: white; font-size: 15px;">Чаевые за месяц</th>
                <th scope="col" style="color: white; font-size: 15px;">Чаевые за Сегодня</th>
            </tr>
        </thead>
        <tbody>
            {% for summary in user_summary_list %}
                <tr>
                    <!-- Ссылка на страницу статистики официанта -->
                    <td><a href="{% url 'user_detail' summary.user.id %}">{{ summary.user.first_name }}</a></td>
                    <td>{{ summary.current_month_tips }}</td>
                    <td>{{ summary.today_total_tips }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#userSummaryTable').DataTable({
            "order": [[2, "desc"]]  // Сортировка по третьему столбцу (индекс 2) в порядке убывания
        });
    });
</script>
{% endblock %}
