{% extends "base.html" %}
{% load static %}
{% block title %}Подтвердить Заказчика.{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <h1 class="mb-4" style="color: rgb(246, 9, 9);">Подтвердить Заказчика.</h1>
  <form method="post" action="{% url 'delivery_app:add_delivery_customer' delivery_phone_number=delivery_phone_number %}"  class="form-control-equal">
    {% csrf_token %}
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="delivery_phone_number" style="color: rgb(246, 9, 9);">Номер телефона:</label>
          <input type="tel" id="delivery_phone_number" name="delivery_phone_number" class="form-control form-control-lg" value="{{ customer.delivery_phone_number }}" readonly>
      </div>      
        <div class="form-group">
          <label for="name" style="color: rgb(246, 9, 9);">Имя:</label>
          <input type="text" id="name" name="name" class="form-control form-control-lg"  value="{{ customer.name }}" required>
        </div>
        <div class="form-group">
          <label for="{{ form.city.id_for_label }}" style="color: rgb(246, 9, 9);">Город:</label>
          {{ form.city }}
        </div>
        <div class="form-group">
          <label for="street" style="color: rgb(246, 9, 9);">Улица:</label>
          <input type="text" id="street" name="street" class="form-control form-control-lg"  value="{{ customer.street }}" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="house_number" style="color: rgb(246, 9, 9);">Номер дома:</label>
          <input type="text" id="house_number" name="house_number" class="form-control form-control-lg"  value="{{ customer.house_number }}" required>
        </div>
        <div class="form-group">
          <label for="floor" style="color: rgb(246, 9, 9);">Этаж:</label>
          <input type="text" id="floor" name="floor" class="form-control form-control-lg" value="{{ customer.floor }}" required>
        </div>
        <div class="form-group">
          <label for="apartment_number" style="color: rgb(246, 9, 9);">Номер квартиры:</label>
          <input type="text" id="apartment_number" name="apartment_number" class="form-control form-control-lg" value="{{ customer.apartment_number }}" required>
        </div>
        <div class="form-group">
          <label for="intercom_code" style="color: rgb(246, 9, 9);">Коментарии:</label>
          <input type="text" id="intercom_code" name="intercom_code" class="form-control form-control-lg" value="{{ customer.intercom_code }}">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <button type="submit" formaction="{% url 'delivery_app:save_delivery_customer_changes' delivery_phone_number=delivery_phone_number %}" name="submit_button" value="save_changes" class="btn btn-primary">Сохранить изменения</button>
        </div>
        <div class="col-md-6">
            <button type="submit" name="submit_button" value="confirm" class="btn btn-primary">Подтвердить Заказчика.</button>
        </div>
    </div>    
  </div>
  </form>
{%endblock %}
