{% extends "base.html" %}

{% block title %}Проверка номера на Доставку{% endblock %}

{% block content %}
<div class="center-container">
  <h1 class="mb-4" style="color: white;">Введите номер на Доставку</h1>
  <form method="POST" action="{% url 'delivery_app:check_delivery_number' delivery_type=delivery_type %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="delivery_phone_number" style="color: white;">Номер телефона:</label>
      <input type="tel" id="delivery_phone_number" name="delivery_phone_number" class="form-control form-control-lg" style="max-width: 300px;" required pattern="[0-9]{10}">
    </div>
    <button type="submit" class="btn btn-primary">Продолжить</button>
  </form>
</div>
{% endblock %}
