{% extends "base.html" %}

{% block title %}Меню на Доставку{% endblock %}

{% block content %}
<div class="container">
    <div class="mt-4">
        <a href="{% url 'delivery_app:delivery_cart' delivery_phone_number=delivery_phone_number %}"type="submit" class="btn btn-primary">Корзина</a>
    </div>
    
    <h1 class="my-4" style="color: white;">Меню на Доставку №: {{ delivery_phone_number }}</h1>

    <section>
        {% include 'delivery_search.html' %}
    </section>
    
    <ul class="nav nav-tabs mb-4">
        {% for key, value in CATEGORIES.items %}
            <li class="nav-item">
                <a href="{% url 'delivery_app:delivery_menu' delivery_phone_number=delivery_phone_number category=key %}" class="nav-link{% if category == key %} active{% endif %}">{{ value }}</a>
            </li>
        {% endfor %}
        {% for key, value in TAT_CATEGORIES.items %}
            <li class="nav-item">
                <a href="{% url 'delivery_app:delivery_menu' delivery_phone_number=delivery_phone_number category=key %}" class="nav-link{% if category == key %} active{% endif %}">{{ value }}</a>
            </li>
        {% endfor %}
    </ul>

    <div id="products-container" class="row" hx-target="#products-container">
        {% for product in products %}
        <div class="col-md-3 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name_rus }}</h5>
                    <p class="card-text">{{ product.product_price }}₪</p>
                    <form action="{% url 'delivery_app:delivery_add_to_cart' delivery_phone_number=delivery_phone_number category=category %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        {{ product_quantity_form.quantity }}
                        <button type="submit" class="btn btn-primary" {% if not product.is_available %}disabled{% endif %}>Добавить в корзину</button>
                        {% if not product.is_available %}
                            <p>Продукт закончился</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
