{% extends "base.html" %}

{% block title %}Сводка по доставке{% endblock %}

{% block content %}
<div class="container">
    <h1 style="color: white;">Сводка по доставке</h1>
    <h3 style="color: white;">Общая сумма всех заказов, оплаченных наличными: {{ all_orders_total }}₪</h3>

    
    {% if solo_cash_orders_total > 0 %}
    <div style="color: red;">
        <h3>Общая сумма заказов, оплаченных наличными Соло: {{ solo_cash_orders_total }}₪</h3>
    </div>
    {% endif %}
    
    {% if our_courier_cash_orders_total > 0 %}
    <h3 style="color: white;">Общая сумма заказов, оплаченных наличными Наш Курьер: {{ our_courier_cash_orders_total }}₪</h3>
    <h3 style="color: white;">Сумма которую должен нам вернуть Наш Курьер: {{ our_courier_cash_orders_discounted_total }}₪</h3>
    {% endif %}



    <div style="text-align: right; margin-bottom: 10px;">
        <form method="GET" action=".">
            <label for="date" style="color: white;">Выберите дату:</label>
            <input type="date" id="date" name="date" value="{{ selected_date }}">
            <input type="submit" value="Показать">
        </form>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th style="color: white;">Имя курьера</th>
                <th style="color: white;">Город доставки</th>
                <th style="color: white;">Адрес доставки</th>
                <th style="color: white;">Номер телефона</th>
                <th style="color: white;">Сумма заказа</th>
                <th style="color: white;">Метод оплаты</th>
                <th style="color: white;">Время заказа</th>
            </tr>
        </thead>        
        <tbody>
            {% for order in delivery_orders %}
            <tr>
                <td style="color: white;">{{ order.courier.get_name_display }}</td>
                <td style="color: white;">{{ order.customer.get_city_display }}</td>
                <td style="color: white;">{{ order.customer.street }} {{ order.customer.house_number }}</td>
                <td style="color: white;">{{ order.customer.delivery_phone_number }}</td>
                <td style="color: white;">{{ order.total_amount }}</td>
                <td style="color: white;">{{ order.get_payment_method_display }}</td>
                <td style="color: white;">{{ order.created_at|date:"H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>        
    </table>

</div>
{% endblock %}
