<!doctype html>
{% load custom_tags %}
<html dir="rtl">
<head>
    <style>
        h1,h2,h3,h4 {
        text-align: center;
        }
        p {
        text-align: center;
        }
        th, td {
        text-align: center;
        }
        table {
            width: 100%;
        }
        th, td {
            padding: 8px;
        }
    </style>
  <meta charset="utf-8">
</head>
<body>
  <div id="print-area">
    <h3>доставка</h3>
    <table>
      <thead>
        <tr>
          <th>Количество</th>
          <th>Продукт</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart_items %}
        {% with allowed_categories="salads,meat_dishes" restricted_salads="Лобио,Аджапсандал" %}
        {% with restricted_salads_list=restricted_salads|split:"," %}
        {% if item.product.category in allowed_categories and item.product.name not in restricted_salads_list %}
        <tr>
          <td>{{ item.quantity }}</td>
          <td>{{ item.product_id|get_product_name_rus }}</td>
        </tr>
        {% if forloop.last %}
        </tbody>
        <table>
          <thead>
            <tr>
              <th>Количество</th>
              <th>Продукт</th>
            </tr>
          </thead>
          <tbody>
        {% endif %}
        {% endif %}
        {% endwith %}
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
  </div>
</body>
</html>
